@import "../default.scss";
@import "../mix-ins.scss";

.qa-banner {
  background-image: url("https://i.ibb.co/Pttvx0Z/Quick-Analyse.webp");
}
.la-banner {
  background-image: url("https://i.ibb.co/55rtNJ9/Logistik-analyse.webp");
}
.pm-banner {
  background-image: url("https://i.ibb.co/DgyVs9X/pallebanner.webp");
}
.k-banner {
  background-image: url("https://i.ibb.co/YP05GJc/kontaktnu.webp");
}

.content {
  max-width: 800px;
  text-align: center;
  margin: 0 auto;
  padding: 0 20px;
}

.hero {
  position: relative;
  background: $main;
  height: 12em;
  display: flex;
  align-items: center;
  overflow: hidden;
  @include mq_tablet {
    background: #2e2b6ec8;
    height: 18em;
  }
}

.hero h2 {
  position: relative;
  z-index: 1;

  margin: 0 0 10px;
  line-height: 1;
}

.hero p {
  position: relative;
  z-index: 1;

  line-height: 1.4;
}

/* ========================= */

.subBanner {
  position: relative;
  display: grid;
  place-content: center;
  grid-auto-flow: column;
  @include mq_tablet {
    & :nth-child(1n + 1) {
      grid-column: 1;
    }
  }
  span {
    display: block;
    .border-top {
      border-bottom: 2px dotted black;
      margin-top: 5em;
      @include mq_tablet {
        margin-top: 1em;
      }
    }
  }
  svg {
    width: 1.9em;
    padding: 0 0.5em;
  }
  .text {
    border-right: 2px solid black;
    width: 50vw;
    max-width: 45em;
    @include mq_tablet {
      width: 100vw;
      max-width: none;
    }

    .innertext {
      max-width: 35em;
      padding: 4em 2em;
      margin: 0 auto;
      height: fit-content;
      @include mq_tablet {
        margin: 0;
      }
      @include mq_phone{
        max-width: 95vw;
      }
      * {
        margin: 0;
      }
    }
  }
  h1 {
    font-family: Reckless, Georgia, Times, Times New Roman, serif;
    line-height: 3.5rem;
    font-size: 3rem;
    @include mq_tablet {
      font-size: 3.3rem;
    }
    @include mq_phone {
      font-size: 3.5rem;
      line-height: 3.9rem;
    }
  }
  h2 {
    font-size: 1.1rem;
    line-height: 1.6rem;
    padding-top: 1em;
    font-family: poppins, sans-serif;
    @include mq_tablet {
      font-size: 1.3rem;
    }
    @include mq_phone {
      font-size: 1.8rem;
      line-height: 2.4rem;
    }
  }

  .img {
    width: 50vw;
    max-width: 45em;
    background-size: cover;
    clip-path: ellipse(98% 99% at 98% 1%);
    @include mq_tablet {
      width: 100vw;
      max-width: none;
      height: 20em;
      position: relative;
      border-right: 2px solid black;
      clip-path: ellipse(100% 100% at 100% 1%);
      &::after {
        content: "";
        border-top: 2px dotted black;
        width: 100vw;
        position: absolute;
      }
    }
  }
}
.border-bot {
  position: relative;
  border-bottom: 2px dotted black;
  margin-bottom: 5em;
  @include mq_phone {
    margin-bottom: 4em;
  }
  &::before {
    content: "";
    position: absolute;
    left: 49.9%;
    height: 5em;
    top: 0;
    border-right: 2px solid black;
  }
  &::after {
    content: "Toftgaard Consulting";
    font-weight: 500;
    position: absolute;
    margin-top: 2em;
    left: 5%;
    @include mq_phone {
      font-size: 1.3rem;
      margin-top: 1.3em;
    }
  }
}
